{% load static %}
<!DOCTYPE html>

<html lang="en">

    <head>
        <title>{% block title %}{% endblock title %}</title>
		<meta charset="UTF-8">
		<meta {% block meta %}{% endblock meta %}>
		<style>{% block style %}{% endblock style %}</style>
		{% block link %}{% endblock link %}
		<nav>
			<a style="font-weight: bold;" href="http://127.0.0.1:8000">Life Pro Tips</a>
			{% if user.is_authenticated %}
			<a href="http://127.0.0.1:8000/logout">Log Out</a>
			{% else %}
			<a href="/registration/">Registration</a>
			<a href="/login/">Login</a>
			{% endif %}
			{% block nav %}{% endblock %}
		</nav>
    </head>

    <body>
    {% block content %}{% endblock content %}
    </body>

</html>
