{% extends 'base.html' %}
{% load static %}

{% block title %}
User registration
{% endblock title %}

{% block content %}
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
  <button style="font-weight: bold; display: inline-flex; margin-top: 10px; background-color: #05f; padding: 0.4rem; cursor: pointer; background-image: linear-gradient(170deg, #00a6ff, #0f); font-size: 1.5vh; display: block; color: white;" type="submit" class="btn btn-success">Sign up</button>
  </form>
{% endblock content %}
