{% extends 'base.html' %}
{% load static %}

{% block title %}
Life Pro Tips
{% endblock title %}

{% block meta %} http-equiv="refresh" content="42" {% endblock meta %}

{% block nav %}
{% if user.is_authenticated %}
<p>Hello {{ request.user.username }}!</p>
{% else %}
<p>Hello {{ username }}!</p>
{% endif %}
{% endblock nav %}

{% block content %}
<h2>Leave a tip</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Submit</button>
</form>

{% endblock content %}
