{% extends 'base.html' %}
{% load static %}

{% block title %}
Life Pro Tips
{% endblock title %}

{% block meta %} http-equiv="refresh" content="42" {% endblock meta %}

{% block nav %}
{% if user.is_authenticated %}
<p>Hello {{ request.user.username }}!</p>
{% else %}
<p>Hello {{ username }}!</p>
{% endif %}
{% endblock nav %}

{% block content %}
{% if user.is_authenticated %}
<h2>Leave a tip</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button style="font-weight: bold; display: inline-flex; margin-top: 10px; background-color: #05f; padding: 0.4rem; cursor: pointer; background-image: linear-gradient(170deg, #00a6ff, #0f); font-size: 1.5vh; display: block; color: white;" type="submit" class="btn btn-success">Submit</button>
</form>
{% endif %}
<p>{{ error}}</p>
{% if user.is_authenticated %}
<br><br>
<hr class="mt-0 mb-4">
<br>
{% endif %}
{% for obj in tip %}
<p>{{ obj.content}} - by {{ obj.author }} - on {{ obj.date }} - {{ obj.upstats }} - {{ obj.downstats }}
<button type="button" name="{{ obj.upvote }}" onclick="location.href='http://127.0.0.1:8000/upvote/{{ obj.id }}'">Upvote</button>
<button type="button" name="{{ obj.downvote }}" onclick="location.href='http://127.0.0.1:8000/downvote/{{ obj.id }}'">Downvote</button>
<button type="button" name="{{ obj.delete }}" onclick="location.href='http://127.0.0.1:8000/delete/{{ obj.id }}'">Delete</button></p>
{% endfor %}
{% endblock content %}
