{% extends 'base.html' %}
{% load static %}

{% block title %}Ex01: Django, framework web.{% endblock title %}
{% block style %}
h2 {
	margin: 20px;
}
{% endblock style %}

{% block link %}
<link rel="stylesheet" href="{% static 'style1.css' %}">
{% endblock link %}
{% block content %}
	<h2>Ex01: Django, framework web.</h2>
	<p>Django is a Python-based free and open-source web framework that follows the model–template–views (MTV) architectural pattern. It is maintained by the Django Software Foundation (DSF), an American independent organization established as a 501(c)(3) non-profit.</p>
{% endblock %}
