{% extends 'base.html' %}
{% load static %}

{% block title %}
Options
{% endblock title %}

{% block style %}
html {
 width: 50%;
 text-align: center;
 margin: auto;
 }

 html {
	background: url('https://i.ibb.co/c2Q7GnY/gameboy.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

 {% endblock style %}

{% block content %}

<h1 style="text-align: center; padding-top: 60px;">Options</h1></br>

{% if selected == 1 and slot_a == True%}
<p style="background-color: black; color: white;">Slot A: {{captured_a}}/10</p>
{% elif selected == 1 and slot_a == False %}
<p style="background-color: black; color: white;">Slot A - Free</p>
{% elif selected != 1 and slot_a == False %}
<p>Slot A - Free</p>
{% elif selected != 1 and slot_a == True %}
<p>Slot A: {{captured_a}}/10</p>
{% endif %}

{% if selected == 2 and slot_b == True%}
<p style="background-color: black; color: white;">Slot B: {{captured_b}}/10</p>
{% elif selected == 2 and slot_b == False %}
<p style="background-color: black; color: white;">Slot B - Free</p>
{% elif selected != 2 and slot_b == False %}
<p>Slot B - Free</p>
{% elif selected != 2 and slot_b == True %}
<p>Slot B: {{captured_b}}/10</p>
{% endif %}

{% if selected == 3 and slot_c == True%}
<p style="background-color: black; color: white;">Slot C: {{captured_c}}/10</p>
{% elif selected == 3 and slot_c == False %}
<p style="background-color: black; color: white;">Slot C - Free</p>
{% elif selected != 3 and slot_c == False %}
<p>Slot C - Free</p>
{% elif selected != 3 and slot_c == True %}
<p>Slot C: {{captured_c}}/10</p>
{% endif %}

<div style="text-align: center; padding-top: 0%;">
    <div>
		<button name="button" type="submit" onclick="location.href='/options/save_game/top'">Top</button>
		<button name="button" type="submit" onclick="location.href='/options/save_game/bottom'">Bottom</button>
    </div>
</div>

<div style="text-align: center; padding-top: 0%;">
    <div>
		<button name="button" type="submit" onclick="location.href='/options/save_game/save_a'">A - Save</button>
		<button name="button" type="submit" onclick="location.href='/options/'">B - Cancel</button>
    </div>
</div>
{% endblock content %}
